

*{
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Fira sans', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(105, 95, 95);
    color: white;
}

header{
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1{
    font-size: 2.5rem;
    font-weight: 300;
    color: rgb(185, 181, 176);
    margin-bottom: 1rem;
}

#new-task-form{
    display: flex;
}

input, button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new-task-input{
    flex: 1 1 0%;
    background-color: rgb(28, 28, 37);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: rgb(104, 101, 101);
    font-size: 1.25rem;
}

#new-task-input::placeholder{
    color: rgb(141, 140, 138);
}

#new-task-submit{
    color: #d86935;
    font-size: 1.23rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s;
    border: none;
}


#new-task-submit:hover{
    opacity: 0.8;
}

#new-task-submit:active{
    opacity: 0.6;
}

main{
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task-list {
    padding: 1rem;
}

.task-list h2{
    font-size: 2.5rem;
    font-weight: 300;
    color: gray;
    margin-bottom: 1rem;
}

#tasks .task{
    display: flex;
    justify-content: space-between;
    background-color: rgb(77, 77, 77);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#tasks .task .content .task {
    color: white;
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}

#tasks .task .content .text:not(:read-only){
    color: salmon;
}

#tasks .task .content .task .action {
    display: flex;
    margin: 0 --0.5rem;
}

 .task .action button{
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}
.task .action button:hover{    
    opacity: 0.8;
}

.task .action button:active{
    opacity: 0.6;
}

 .task .action .edit{
    background-color: #fdfdfd;
    border-radius: 3px;
}

.task .action .delete{
  color: red;
}

