@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Roboto Slab', serif;
}

.btn{
    background-color: rgb(37, 104, 248);
    border-radius: 5px;
    border: none;
    font-family: inherit;
    margin: 1rem;
    color: beige;
    padding: 1.2rem 3rem;
    font-size: 1rem;

}