@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Roboto Slab', serif;
    background-color: rgb(0, 0, 0);
}

img{
    position: fixed
}

.heart{
    position: fixed;
    top: -1vh;
    transform: translateY(0);
    animation: fall 3s linear forwards;
    color: aliceblue;
}

@keyframes fall {
    to {
        transform: translateY(105vh);
    }
}